$black: #222222;
$promo-back-color: #F1E4E6;
$dark-pink: #F16D7F;
$darker-pink: #D15D6F;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$dark-grey: #5D5D5D;
$browse-pink: #F26376;
$whitish: #FBFBFB;
$pinkish: #F8F3F4;
$input-color: #A4A4A4;
$somewhat-grey: #B1B1B1;
$greyish: #E1E1E1;
$overlay-color: #3A3838DB;
$dark-grey2: #6F6E6E;

$desktop-width: 1600px;
$tablet-width: 768px;
$phone-width: 375px;