.categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories__item {
    width: 360px;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;

    @include tablet {
        width: 32%;
        min-height: 168px;
    }

    @include mobile {
        width: 100%;
        min-height: 247px;
        margin: 0 0 32px;
    }
}

.categories__item_men {
    background-image: url(../img/categories_men.jpg);
}

.categories__item_women {
    background-image: url(../img/categories_women.jpg);
}

.categories__item_kids {
    background-image: url(../img/categories_kids.jpg);
}

.categories__item_accessories {
    background-image: url(../img/categories_accessories.jpg);
    flex-grow: 1;
    margin: 30px 0 96px 0;
    min-height: 180px;

    @include tablet {
        margin: 20px 0 155px;
        min-height: 116px;
    }

    @include mobile {
        margin: 0 0 64px;
        min-height: 111px;
    }
}

.categories__text {
    @include font(16px, 19px);
    color: white;
    text-transform: uppercase;
}

.categories__heading {
    @include font(24px, 29px, 700);
    display: block;
    text-transform: uppercase;
    color: $dark-pink;
}
