.features__section {
    background-color: $black;
    margin: 96px 0 0;
}

.features__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 341px;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 104px;
}

.features__item-heading {
    @include font(20px, 24px);
    color: $whitish;
    text-align: center;
    margin: 28px 0 18px;
}

.features__item-text {
    @include font(14px, 17px, 300);
    color: $whitish;
    text-align: center;
}